// :root {
//     --dark: #333333;
//     --white: #ffffff;
//     --light-background: #E8E8E8;
//     --light-green: #4CAF50;
// }
$dark-color: #333333;
$white: #ffffff;
$light-background: #E8E8E8;
$light-green: #4CAF50;

* {
    margin: 0;
    padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
}

main {
    margin: 0 1em;
}
@import 'navMenu';
@import 'cards';
@import 'post';
@import 'footer';
// @import "form.css";